{% extends 'base.html' %}
{% block content %}

<center><font face="Fifth Grader"> <span style="font-size: 100px;color:Black; ">Textbook Rent System</span> </font face></center>

{% if user.is_authenticated %}

<a href="/accounts/selfinfo">
    <center><button class="btn">
    Go To Self Info
    </button>
    </center>
</a>

<a href="/accounts/logout">
    <center><button class="btn">
    Logout
    </button>
    </center>
</a>

{% else %}

<a href="/accounts/login">
    <center><button class="btn">
    Login
    </button>
    </center>
</a>

<a href="/accounts/register">
    <center><button class="btn">
    New User
    </button>
    </center>
</a>

{% endif %}

{% endblock %}