{% extends 'base.html' %}

{% block content %}
<h1>Textbook rent system</h1>

{% if user.is_authenticated %}
<h1>Hello {{user.first_name}}!!!!!</h1>
<li>><a href="/accounts/logout">Logout</a></li>
<li>><a href="/accounts/selfinfo">Borrowed Records</a></li>
<li>><a href="/books/rent">Borrow books</a></li>
{% else %}
<li>><a href="/accounts/login">Login</a></li>
<li>><a href="/accounts/register">New user?</a></li>
{% endif %}

<li>><a href="/books/list">Available Book List</a></li>

{% endblock %}