{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
    <table style="font-size: 24px; border-collapse: collapse; width: 100%; background-color: white;">
        <thead>
            <tr style="border-bottom: 2px solid black;">
                <th style="text-align: left; padding: 10px;"><span style="font-family: Fifth Grader;">Name</span></th>
                <th style="text-align: left; padding: 10px;"><span style="font-family: Fifth Grader;">Quantity</span></th>
                <th style="text-align: left; padding: 10px;"><span style="font-family: Fifth Grader;">Description</span></th>
            </tr>
        </thead>
        <tbody>
            {% for bk in bks %}
            <tr style="border-bottom: 1px solid black;">
                <td style="padding: 10px;"><span style="font-family: Fifth Grader;">{{ bk.name }}</span></td>
                <td style="padding: 10px;"><span style="font-family: Fifth Grader;">{{ bk.quantity }}</span></td>
                <td style="padding: 10px;"><span style="font-family: Fifth Grader;">{{ bk.description }}</span></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <a href="/accounts/login">
        <center><button class="btn">
        Go To Login
        </button></center>
    </a>

    <a href="/accounts/register">
        <center><button class="btn">
        Create An Account
        </button></center>
    </a>
{% endif %}

{% endblock %}
