{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>

<body>
    <form action="" method="post">
        {% csrf_token %}
        <center><input class = "inp" name="username" placeholder="Netid"></center>
        <center><input class = "inp" input type="password" name="password" placeholder="password"></center>
        <center><button class="btn">Log in</button></center>
    </form>
    <div>
        {% for message in messages %}
            <center><font face="Fifth Grader"><span style="font-size: 80px;color:black;"> {{message}}</span> </font> </center>
        {% endfor %}
    </div>
</body>
{% endblock %}
