{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Registeration</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}

        <center><input class="inp" name="first_name" placeholder="First Name"></center>
        <center><input class="inp" name="last_name" placeholder="Last Name"></center>
        <center><input class="inp" name="username" placeholder="Netid"></center>
        <center><input class="inp" name="email" placeholder="email"></center>
        <center><input type="password" input class="inp" name="password1" placeholder="Password"></center>
        <center><input type="password" input class="inp" name="password2" placeholder="Confirm Password"></center>
        <center><button class="btn">Sign Up</button></center>

    </form>
    <div>
        {% for message in messages %}
            <center><font face="Fifth Grader"><span style="font-size: 80px;color:black;"> {{message}}</span> </font> </center>
        {% endfor %}
    </div>

</body>
{% endblock %}