{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<form action = "" method="post">
    {%csrf_token%}

    <center><font face="Fifth Grader"> <span style="font-size: 40px;color:BLACK;">Enter your netid:</span> </font face></center>
    <center><input type="text" input class="inp" name = "netid"></center>
    <center><font face="Fifth Grader"> <span style="font-size: 40px;color:BLACK;">Enter the book name you want to return:</span></font face></center>
    <center><input type="text" input class="inp" name = "bookname"></center>
    <center><button class="btn">Submit</button></center>
</form>

<div>
    {% for message in messages %}
        <center><font face="Fifth Grader"><span style="font-size: 80px;color:black;"> {{message}}</span> </font> </center>
    {% endfor %}
</div>

{% else %}

<a href="/accounts/login">
    <center><button class="btn">
    Go To Login
    </button>
    </center>
</a>

<a href="/accounts/register">
    <center><button class="btn">
    Create An Account
    </button>
    </center>
</a>
{% endif %}

{% endblock %}